################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SPWN/obj
/SPWN/bin
/SPWNTestProject/obj
/SPWNTestProject/bin